# Used TensorBoard in keras callbacks

In [51]:
from tensorflow.keras.callbacks import TensorBoard
from seaborn import load_dataset
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from farhad_DL.utility import encode_text_index, to_xy

from tensorflow.keras.losses import mean_absolute_error

In [4]:
df = load_dataset('iris')

In [8]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [7]:
encode_text_index(df, 'species')

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [23]:
x_data, y_data = to_xy(df, 'species')

In [50]:
len(y_data[0])

3

In [59]:
def iris_model():
    model = Sequential()
    model.add(Dense(32, input_dim=4, activation='relu'))
    model.add(Dropout(0.3))
    model.add(Dense(8, activation='relu'))
    model.add(Dropout(0.3))
    model.add(Dense(1, activation='sigmoid'))
    model.compile(metrics=['accuracy'],optimizer='adam',loss='mean_absolute_error')
    return model

In [34]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_18 (Dense)             (None, 12)                60
_________________________________________________________________
dense_19 (Dense)             (None, 6)                 78
_________________________________________________________________
dense_20 (Dense)             (None, 1)                 7
=================================================================
Total params: 145
Trainable params: 145
Non-trainable params: 0
_________________________________________________________________

In [61]:
tensor_board = TensorBoard(log_dir='logs/{}'.format(time()))

In [62]:
model = iris_model()
hsitory = model.fit(x_data, df['species'], validation_split=0.20,verbose=0, epochs=80,callbacks=[tensor_board])

In [57]:
!tensorboard --logdir=[ address ]

<font color='red'>Address = http://localhost:6006